apis/*
creds/*
/Klassenbuchgenerator/Klassenbuchgenerator/bin/Debug
/Klassenbuchgenerator/Klassenbuchgenerator/obj/Debug
/Klassenbuchgenerator/.vs/Klassenbuchgenerator/v15
/Klassenbuchgenerator/packages
